body
{
	background-color: white;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.menu
{
	width: 90%;
	font-size: 140%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.menu a:link, .menu a:visited
{
	margin-left: 40px;
	text-decoration: none;
	color: black;
}

.menu a:hover
{
	text-decoration: underline;
	color: red;
}

.blogtext_header
{
	font-variant: small-caps;
	margin-top: 50px;
}

.blogtext_header_date
{
	font-size: 60%;
}

.blogtext a:link, .blogtext a:visited
{
	text-decoration: underline;
	color: blue;
}

.blogtext a:hover
{
	color: red;
	text-decoration: none;
}

.blogtext
{
	font-family: "Arial", Georia, Sans-Serif;
	margin-left: 40px;
}

.blogtext span
{

}

.code
{
	background-color: #CCFFCC;
	font-family: "Courier";
	padding: 7px;
}

#footer
{
	margin-top: 40px;
	font-size: 70%;
	padding-bottom: 20px;
}

.page_browsing_area 	
{
	margin-top: 40px;
	width: 100%;
	text-align: center;
}

.page_browsing_area a:link, .page_browsing_area a:visited
{
	text-decoration: none;
	color: black;
	margin-left: 40px;
}

.page_browsing_area a:hover
{
	color: red;
	text-decoration: underline;
}

.flickr_images
{
	margin-bottom: 20px;
	border-style: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.flickr_images a:link, a:visited
{
	border: 0px;
}


